@font-face {
  font-family: Nunito;
  src: url('../font/Nunito/Nunito-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

header {
  display: flex;
  justify-content: space-between;

  div.logo {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 48px;
    align-items: center;
  }
}

div.headline {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

p.line {
  width: 300px;
  border-bottom: 3px solid black;
}
